/* You can add global styles to this file, and also import other style files */
.container {
  max-width: 1410px;
}

.u30brand.logo {
  width: 75%;
  float: left;
}

.u30brand.myHR a {
  color: white;
}
.col .rh09-img {
  position: relative;
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
}

.col .rh09-cta a {
  color: #ffffff;
}

.col .rh09-cta a:hover {
  text-decoration: underline;
}

.col-item.col {
  border-radius: 5px 5px 5px 5px;
  margin: 0 12px 24px;
  display: flex !important;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: #1a3673;
  color: #ffffff;
  padding: 3.6rem 3.6rem 3.6rem 3.6rem;
  padding-bottom: 2.7rem;
  width: calc(33.3333% - 24px);
  max-width: calc(33.3333% - 24px);
  position: relative;
}

.col-item.col-4,
.col-item.col-8 {
  border-radius: 5px 5px 5px 5px;
  margin: 0 12px 24px;
  display: flex !important;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: #ffffff;
  color: #1a3673;
  padding: 3.6rem 3.6rem 3.6rem 3.6rem;
  padding-bottom: 2.7rem;
  width: calc(33.3333% - 24px);
  max-width: calc(33.3333% - 24px);
  position: relative;
  border-radius: 16px;
  border: solid 3px #ecf8fe;
  background-color: #f9fafb;
}

.col-item.col-8 {
  flex: 0 0 66.666667%;
  max-width: 62.666667%;
}

app-news .rh09-copy figure img {
  width: 100%;
}

.hiring-recruiting__wrap {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
}

.row.hiring-recruiting__tablecontent {
  display: table-cell;
  width: 100% !important;
  padding: 16px;
  border-radius: 16px;
  background-color: #ecf8fe;
  vertical-align: top;
}

.hiring-recruiting__tablecontent--list {
  margin-left: 40px;
}

ul {
  padding-left: 2rem;
}

ul li:not(.hiring-recruiting__tablecontent--list) {
  margin-bottom: 8px;
  list-style-type: disc;
}

#u30 {
  position: initial !important;
}
